body {
    /* background: rgb(1, 161, 1); */
    background-image: url(background-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    backdrop-filter: brightness(70%);
    /* width: 97%;
    margin: auto; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    height: 100vh;
    justify-content: space-evenly;
    flex-direction: column;
}

.computer-cards-slide-container {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.computer-added-card-info {
    position: absolute;
    right: 0;
    top: 0;
    width: 110px;
    height: 130px;
    background-color: #000000f5;
    display: none;
}

.computer-added-card-info .number {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 4rem;
}

.computer-cards {
    /* display: flex; */
    width: 100%;
    position: relative;
    /* grid-column-gap: 1rem; */
}

.computer-card {
    flex-shrink: 0;
    background-color: #800020;
    width: 110px;
    height: 130px;
    border: 1px solid #000;
    position: relative;
    cursor: none;
}

.computer-card-whot {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 1.4rem;
}

.hide {
    display: none;
}

.display-cards {
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
    display: none;
}

.display-card {
    position: relative;
    background-color: #fff;
    border: 1px solid #800020;
    width: 110px;
    height: 130px;
    cursor: none;
}

.display-card-number {
    position: absolute;
    top: 1px;
    left: 2px;
    color: #800020;
}

.display-card-number2 {
    position: absolute;
    top: 75%;
    right: 2px;
    color: #800020;
}

.display-card-shape {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #800020;
    font-size: 1.4rem;
}

.display-card-image {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 50px;
    width: 50px;
}

.market-cards {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    display: none;
}

.market-card {
    position: relative;
    background-color: #800020;
    border: 1px solid #000;
    width: 100px;
    height: 110px;
    cursor: pointer;
}

.market-card-shape {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50px;
    width: 50px;
}

.player-cards-slide-container {
    width: 100%;
    /* overflow: hidden; */
    overflow-x: auto;
    white-space: nowrap;
    position: relative;
    bottom: 0;
    transition: transform 0.5s ease;
}

.player-added-card-info {
    position: absolute;
    right: 0;
    top: 0;
    width: 110px;
    height: 130px;
    background-color: #000000ed;
    display: none;
}

.player-added-card-info .number {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 4rem;
}

.player-cards-slide-container::-webkit-scrollbar {
    height: 0.7rem;
}

.player-cards-slide-container::-webkit-scrollbar-track {
    background: #fff;
}

.player-cards-slide-container::-webkit-scrollbar-thumb {
    background: #000;
    border-radius: 2rem;
}

.player-cards {
    white-space: nowrap;
    /* display: flex; */
    width: 100%;
    margin-bottom: 10px;
    /* grid-column-gap: 1rem; */
}

.player-card {
    flex-shrink: 0;
    position: relative;
    background-color: #fff;
    border: 1px solid #800020;
    width: 110px;
    height: 130px;
    cursor: pointer;
}

.wrong-card {
    background-color: rgb(255, 0, 0);
}

.right-card {
    background-color: rgb(1, 158, 1);
}

.market {
    background-color: rgb(255, 255, 0);
}

.player-card-number {
    position: absolute;
    top: 1px;
    left: 2px;
    color: #800020;
}

.player-card-number2 {
    position: absolute;
    top: 75%;
    right: 2px;
    color: #800020;
}

.player-card-image {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 50px;
    width: 50px;
}

.player-card-shape {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #800020;
    font-size: 1.4rem;
}

.info-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hide-info-box {
    display: none;
}

.info-box {
    background-color: #000000a5;
    width: 500px;
    height: auto;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    grid-row-gap: 1rem;
    text-align: center;
    padding: 1rem;
}

.info-box .heading {
    color: #fff;
    font-family: sans-serif;
}

.info-box .sub-heading {
    color: #fff;
    font-family: sans-serif;
}

.menu-btn {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    color: #fff;
    background-color: #00000091;
    padding: 1.2rem;
    border-radius: 5px;
    line-height: 0;
    cursor: pointer;
    display: none;
}

@media  screen and (max-width: 500px) {
    .computer-card, .player-card, .display-card, .computer-added-card-info, .player-added-card-info {
        width: 80px;
        height: 110px;
    }

    .computer-card-whot {
        font-size: 1rem;
    }

    .market-card{
        width: 80px;
        height: 90px;
    }

    .player-card-image, .display-card-image {
        height: 40px;
        width: 40px;
    }

    .player-cards-slide-container::-webkit-scrollbar {
        height: 0.3rem;
    }

    .info-box {
        width: 350px;
    }
}

@media  screen and (max-width: 350px) {
    .computer-card, .player-card, .display-card, .computer-added-card-info, .player-added-card-info {
        width: 60px;
        height: 90px;
    }

    .market-card{
        width: 60px;
        height: 70px;
    }

    .player-card-image, .display-card-image {
        height: 30px;
        width: 30px;
    }
    
    .menu-btn {
        padding: 1rem;
    }

    .info-box {
        width: 300px;
    }
}

@media  screen and (max-width: 300px) {
    .info-box {
        width: 260px;
    }
}
