body {
    background: rgb(1, 161, 1);
    width: 97%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    justify-content: space-evenly;
    flex-direction: column;
}

.computer-cards-slide-container {
    width: 100%;
    overflow: hidden;
}

.computer-cards {
    display: flex;
    width: 100%;
    position: relative;
    grid-column-gap: 1rem;
}

.computer-card {
    flex-shrink: 0;
    background-color: brown;
    width: 120px;
    height: 130px;
    border: 1px solid #000;
    position: relative;
    cursor: none;
}

.computer-card-whot {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 1.4rem;
}

.length-display-card {
    position: absolute;
    top: 0;
    right: 0;
    width: 120px;
    height: 130px;
    background-color: #000;
    z-index: 4;
}

.length-display-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 3rem;
}

.hide {
    display: none;
}

.display-cards {
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
}

.display-card {
    position: relative;
    background-color: #fff;
    border: 1px solid brown;
    width: 120px;
    height: 130px;
    cursor: none;
}

.display-card-number {
    position: absolute;
    top: 1px;
    left: 2px;
    color: brown;
}

.display-card-shape {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: brown;
    font-size: 1.4rem;
}

.market-cards {
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.market-card {
    position: relative;
    background-color: brown;
    border: 1px solid #000;
    width: 100px;
    height: 110px;
    cursor: pointer;
}

.market-card-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 1.4rem;
}

.player-cards-slide-container {
    width: 100%;
    /* overflow: hidden; */
    overflow-x: auto;
    white-space: nowrap;
    position: relative;
    bottom: 0;
    transition: transform 0.5s ease;
}

.player-cards-slide-container::-webkit-scrollbar {
    height: 0.7rem;
}

.player-cards-slide-container::-webkit-scrollbar-track {
    background: #fff;
}

.player-cards-slide-container::-webkit-scrollbar-thumb {
    background: #000;
    border-radius: 2rem;
}

.player-cards {
    white-space: nowrap;
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    grid-column-gap: 1rem;
}

.player-card {
    flex-shrink: 0;
    position: relative;
    background-color: #fff;
    border: 1px solid brown;
    width: 120px;
    height: 130px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.player-card:hover {
    background-color: #fdb3b3;
}

.color-change {
    background-color: #ff3535;
}

.player-card-number {
    position: absolute;
    top: 1px;
    left: 2px;
    color: brown;
}

.player-card-shape {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: brown;
    font-size: 1.4rem;
}
